.row {
    /* align-items: center; */
    justify-content: center;
}

.react-time-picker__wrapper {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    border: 1px solid #ced4da;
    border-radius: 5px;
    background-color: white;

}

.form-control{
    -webkit-appearance: auto;

}


.react-time-picker__button {
    border: 0;
    padding: 4px 6px;
}

.error {
    color: #923808;
  }

  .success {
    color: black;
  }

  .cron-inputs{
      justify-content: center;
      width: auto;

  }
button{
    background-color: aliceblue;
}
 
 