.btn-secondary {
    background: transparent;
    border: solid 1px transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    font-weight: 700;
    cursor: pointer;
    transition: all .1s ease;
    padding: 12px 18px;
    border-radius: 4px;
    border-color: black;
    color: inherit;

}

.navbar-nav{
    --bs-nav-link-hover-color: white;
}

.navbar a{
    text-decoration: none;
    color: white;
    
}


ul:hover{
    color: #95d7e7;
}

.btn-secondary{
    color: white;
    border-color: white
}

.btn-secondary:hover{
    color: #95d7e7;
    border-color: #95d7e7
}


.navbar :hover{
    color: #95d7e7;
    border-color: #95d7e7
    
}

.bg-color{
    color: white;
    border-color: white;
}



 .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, .75)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }

  navbar-nav > .active > a {
    color: #95d7e7;
    background-color: chartreuse;  
    text-decoration: none;
  
  }
  .nav-item > a:hover {
    color: #95d7e7;
    text-decoration: none;

  }

  .login-sizing{
    width: 91.55px;

  }