.btn-space{
    margin-right: 2%;
}

.capitalize-me::first-letter {
    text-transform: capitalize;
  }


.center{
    justify-content: center;

}

.links{
    text-decoration: none;
    color: black;
}

.card-color {
    box-shadow: 6px 7px 10px 3px rgb(103 101 101 / 82%);
    background-color: #def9ff;
}

.zoom {
    transition: transform .2s; /* Animation */
  }
  
  .zoom:hover {
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }