.container{
    /* display: inline-block; */
    padding-top: 5%;
    /* justify-content: center; */
    
 
}

.form{
    background-color: aqua;
    text-decoration: none;
}

.register{
    text-decoration: none;
}

.error {
    color: #f29766;
}