.together{
    display:inline-block;
}

.capitalize-me::first-letter {
    text-transform: capitalize;
  }

.capitalize{
  text-transform: capitalize;

}

  .pill {
    background-color: #ddd;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    border-radius: 16px;
  }

  .back-link{
      color: black;
      text-decoration: none;
      background-color: transparent;
      border-color: transparent;
      margin-bottom: 40px;
  }

a{
    text-decoration: none;
}

/* Screen for very small phone */
@media only screen and (max-width: 360px) and (min-width: 0px){
  .exam-details{
  
      margin-left: 10%;
      margin-right: 10%;
          
      
  }

  .edit-button{
    margin-left: 13%;
  }
}

/* Screen for small phone */
@media only screen and (max-width: 413px) and (min-width: 361px){
  .exam-details{
  
      margin-left: 10%;
      margin-right: 10%;
          
      
  }

  .edit-button{
    margin-left: 18%;
  }
}

/* Screen for phone */
@media only screen and (max-width: 767px) and (min-width: 414px){
  .exam-details{
  
      margin-left: 10%;
      margin-right: 10%;
          
      
  }

  .edit-button{
    margin-left: 22%;
  }
}

@media only screen and (width: 667px) {
  .exam-details{
  
      margin-left: 10%;
      margin-right: 10%;
          
      
  }

  .edit-button{
    margin-left: 55%;
  }
}

/* Screen for small tablet */
@media only screen and (max-width: 900px) and (min-width: 768px){
  .exam-details{
  
      margin-left: 10%;
      margin-right: 10%;
          
      
  }

  .edit-button{
    margin-left: 60%;
  }
}

/* Screen for normal tablet */
@media only screen and (max-width: 950px) and (min-width: 901px){
  .exam-details{
  
      margin-left: 10%;
      margin-right: 10%;
          
      
  }

  .edit-button{
    margin-left: 66%;
  }
}


/* Screen for screen larger than tablet */
@media only screen and (max-width: 1800px) and (min-width: 951px){
  .exam-details{
  
      padding-left: 20%;
      padding-right: 20%;
          
      
  }
  .edit-button{
    margin-left: 50%;
    margin-right: 2%;
  }
}

