.together{
    display:inline-block;
}

.capitalize-me::first-letter {
    text-transform: capitalize;
  }

.capitalize{
  text-transform: capitalize;

}

  .pill {
    background-color: #ddd;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    border-radius: 16px;
  }

  .back-link{
      color: black;
      text-decoration: none;
      background-color: transparent;
      border-color: transparent;
      margin-bottom: 40px;
  }

a{
    text-decoration: none;
}

/* Screen for phone */
@media only screen and (max-width: 768px) and (min-width: 0px){
  .exam-details{
  
      margin-left: 10%;
      margin-right: 10%;
          
      
  }
}

/* Screen for screen larger than tablet */
@media only screen and (max-width: 1800px) and (min-width: 768px){
  .exam-details{
  
      padding-left: 20%;
      padding-right: 20%;
          
      
  }
}